.banner{
  width: 100%;
  position: relative;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  height: 100vh;
}

.fixed{
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.banner-chamada{
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%,-50%);
  text-align: center;
  display:flex;
  flex-direction: column;
  z-index: 1;
}

.banner-chamada h1{
  font-size:var(--font-9);
  background-color: var(--y);
  color: white;
  padding:5px 30px;
  border-radius: 10px;
  display: inline-block;
}

.banner-chamada h2{
  font-size:var(--font-2);
  background-color: white;
  color: var(--y);
  padding:5px 10px;
  border-radius: 10px;
  display: inline-block;
  margin-top: 10px;
}

/* SOBRE */

.sobre{
  padding:70px 0;
  text-align: center;
  position: relative;
}

.border{
  margin: 15px auto;
  border-bottom: 2px solid var(--y);
  width: 100px;
}

.sobre-wrap{
  padding:20px 0;
  display: flex;
  justify-content:space-between;
  flex-wrap: wrap;
}

.sobre-single{
  width: 30%;
  padding:20px 20px;
  text-align: center;
  max-width: 350px;
  margin:0 auto;
}

.sobre-single svg{
  font-size:var(--font-10);
}

.sobre-single h4{
  margin:10px 0;
  font-size:var(--font-1);
}

.sobre-single p{
  font-size:var(--font-0);
  color: gray;
}

/* SOCIAL */

.social {
  position: relative;
  padding: 70px 0;
}

.social.fixed .overlay, .ofertas.fixed .overlay{
  background-color:rgba(0, 0, 0, 0.637);
}

.social .container{
  position: relative;
  text-align: center;
  color: white;
}

.social h2{
  font-size:var(--font-1);
  background-color:var(--y);
  display:inline-block;
  padding:5px 10px;
  border-radius: 5px;;
}

.social-imgs{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;
  padding:0 2%;
}

.social-img-single{
  width: 14%;
  padding-top:14%;
  background-color:red;
  border:2px solid var(--y);
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  margin-top: 20px;
}

/* CARDAPIO */

.cardapio{
  padding:70px 0;
}

.cardapio-wrap{
  display:flex;
  justify-content: space-between;
  align-items: stretch;
  flex-wrap: wrap;
  width: 100%;
}

.cardapio-img{
  width: 100%;
  padding-top: 40%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  border: 2px solid var(--y);
  border-radius:5px;
  margin-top:40px;
}

.cardapio-single{
  width: 31%;
  text-align: center;
  margin-top:30px;
}

.cardapio-single h4{
  margin:10px 0;
  font-size:var(--font-1);
  color: var(--y);
}

.cardapio-single p{
  font-size:var(--font-0);
  color: gray;
}

/* OFERTAS */

.ofertas{
  position: relative;
  padding:70px 0;
}

.ofertas .container{
  position: relative;
}

.ofertas .header-session h2, .ofertas .header-session h1{
  color:white;
  margin-bottom: 20px;
}

.ofertas-wrap{
  display:flex;
  flex-wrap: wrap;
  justify-content:space-between;
  width: 100%;
  align-items:stretch;
  margin: 20px 0;
}

.ofertas-single{
  display:flex;
  width: 48%;
  margin: 20px 0;
}

.ofertas-img{
  width: 50%;
  padding-top: 25%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size:cover;
  border: 2px solid var(--y);
}

.ofertas-info{
  width: 50%;
  padding: 5px 10px;
}

.ofertas-info h4{
   color: white;
   margin-bottom: 8px;
   font-size:var(--font);
}


.ofertas-info p{
  color: rgb(228, 228, 228);
  font-size:var(--font-0);
}



/* MOBILE */

@media screen and (max-width:768px){
  .sobre-single{
    width: 48%;
  }

  .cardapio-single{
    width: 48%;
    margin-top:30px;
  }

  .ofertas-single{
    width: 100%;
    max-width:400px;
    margin:20px auto;
  }

  .ofertas-img{
    padding-top: 30%;
  }
  
}

@media screen and (max-width:568px){

  .sobre-single{
    width: 100%;
  }

  .social-img-single{
    width: 30%;
    padding-top:31%;
  }

  .cardapio-single{
    width: 100%;
    max-width: 300px;
    margin: 0 auto;
  }
}